### python

python is high-level, interpreted, intractive and object-oriented scrpting language and wiedly used in data science.

programming means a set of instructions that tell a computer how to perform a task. set of instructions means written in a language that computer can understand.

### print()

The print() function prints the specified message to the screen, or other standard output device. The message can be a string, or any other object, the object will be converted into a string before written to the screen.

###### Fancier Output Formatting¶

To use formatted string literals, begin a string with f or F before the opening quotation mark or triple quotation mark. Inside this string, you can write a Python expression between { and } characters that can refer to variables or literal values.

In [6]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

The str.format() method of strings requires more manual effort. You’ll still use { and } to mark where a variable will be substituted and can provide detailed formatting directives, but you’ll also need to provide the information to be formatted.

In [7]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

' 42572654 YES votes  49.67%'

###### When you don’t need fancy output but just want a quick display of some variables for debugging purposes, you can convert any value to a string with the repr() or str() functions.

The str() function is meant to return representations of values which are fairly human-readable, while repr() is meant to generate representations which can be read by the interpreter (or will force a SyntaxError if there is no equivalent syntax). For objects which don’t have a particular representation for human consumption, str() will return the same value as repr(). Many values, such as numbers or structures like lists and dictionaries, have the same representation using either function. Strings, in particular, have two distinct representations.

In [8]:
s = 'Hello, world.'
str(s)

'Hello, world.'

In [9]:
repr(s)

"'Hello, world.'"

In [10]:
x = 10 * 3.25
y = 200 * 200
s = 'The value of x is ' + repr(x) + ', and y is ' + repr(y) + '...'
print(s)

The value of x is 32.5, and y is 40000...

In [11]:
repr((x, y, ('spam', 'eggs')))

"(32.5, 40000, ('spam', 'eggs'))"

### Formatted String Literals

Formatted string literals (also called f-strings for short) let you include the value of Python expressions inside a string by prefixing the string with f or F and writing expressions as {expression}.

In [12]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [13]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:10} ==> {phone:10d}')

Sjoerd     ==>       4127
Jack       ==>       4098
Dcab       ==>       7678

In [14]:
animals = 'eels'
print(f'My hovercraft is full of {animals}.')

My hovercraft is full of eels.

### The String format() Method

In [15]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [16]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',
                                                   other='Georg'))

The story of Bill, Manfred, and Georg.

### Manual String Formatting

In [17]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    # Note use of 'end' on previous line
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

### Old string formatting¶

In [18]:
import math
print('The value of pi is approximately %5.3f.' % math.pi)

The value of pi is approximately 3.142.

In [19]:
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [20]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Note: file, sep, end and flush are keyword argument if you want to use them to proper write them and then pass the value.

In [21]:
#print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
print('Hello, world', 'Its me')
print('Hello, world', 'Its me', sep='+')
print( 'Hello, world')
print('Hello,  Mate!')

Hello, world Its me
Hello, world+Its me
Hello, world
Hello,  Mate!

In [22]:
print( 'Hello, world', end='') #here end has given hence it is adding below word as it is going in new line.
print('Hello,  Mate!')
print('Bye')

Hello, worldHello,  Mate!
Bye

In [23]:
print( 'Hello, world','Hello,  Mate!',sep = '+', end='\t')
print('Bye')

Hello, world+Hello,  Mate!	Bye

In [24]:
sourcefile('python.txt', 'w')# we have create jupyter base area
print('Hello', 'world!', sep='+', file=sourcefile)
sourcefile.close()

NameError: name 'sourcefile' is not defined

In [ ]:
'''print( 'Hello', 'world', end=' ')
print('Goodbye', 'world',sep = '_' )'''

In [ ]:
print( 'Hello'+'world', end='\n')

###### zip(*iterables, strict=False)
Iterate over several iterables in parallel, producing tuples with an item from each o

In [ ]:
for item in zip([1, 2, 3], ['sugar', 'spice', 'everything nice']):
    print(item)

### Variables in python

In [ ]:
Variable is also know as an identifier and used to hold certain value.

Naming of variables: Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore.
Rules of keeping name of variable:
    1. The first character of the variable must be an alphabateor underscore(_).
    2. Except the forst character, reamaining can be an alphabet of lowercase(a-z), Uppercase(A-Z), underscore or digit(0-9)
    3. Identifier names are case sensitive; for example: myVariable and MyVariable are not the same.
    4. Identifier name must not contain any defined keywords, white-space and special character(*,!,@,#,^,&,%)

In [ ]:
x = 10
y = x
x=20
print(y)

In [ ]:
a=b=c=d=100   #if multiple varibale have similar value
print(a,b,c,d)

A,B,C,D =10,50,100,60
print(A,B,C,D)

In [ ]:
student = 'Rani'
subject = 'Math'
age = 15
marks = 78.5
print(student)
print(subject)
print(age)
print(marks)

In [ ]:
print(type(student))
print(type(subject))
print(type(age))
print(type(marks))

### Data Types

Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instances (object) of these classes.

# Python has the following data types built-in by default, in these categories:

Text Type: str
Numeric Types: int, float, complex (example:x= 10 + 10j)
Sequence Types: list, tuple, range
Mapping Type:  dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes, bytearray, memoryview
None Type: NoneType

https://www.w3schools.com/python/python_datatypes.asp

### Type casting

The process of coverting given variable data type(example - integer, string, float etc) to another data type is called type conversion.

python has two type of type conversion.

Implict Type conversion:
     Python automatically converts one data type to another data type. This process doesn't need any user involvement.
        
Explicit Type Conversion: 
    Python need user involvement to convert the variable data type into a certain data type in order to required operation.
    
    syntax : <required_datatype>(expression)

In [ ]:
#Implict Type conversion
a = 10
b = '10'
c = 10.0
print(type(a),type(b),type(c))

In [ ]:
print(a+c)
print(type(a+c))

In [ ]:
#Explicit Type Conversion:
a = 10
print(type(a))
b = float(a)
print(type(b))
c = str(a)
print(type(c))

In [ ]:
x = 10.5
str(int(x))

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

https://www.w3schools.com/python/python_operators.asp

### Indexing and slicing

Indexing in python is a way to refer the individual items within an iterable by its position. in other words, you can directly access your elements of your choice within an iterable and do various operation depending on your needs.

In [ ]:
a = 'Hello world'
print(a[0],a[1], a[2], a[10], a[-1])

### string operations

Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [25]:
x='hello'
print(x.center(10,'o'))

oohelloooo

### Input Output

In [29]:
a,b,c = map(int,input("enter a number: ").split())

enter a number: 10 20 30

In [30]:
x, y = input('Enter full name').split()
print("First name: ", x)
print('second name: ', y)

Enter full nameRani Kumari
First name:  Rani
second name:  Kumari

In [31]:
print('Hello'*10)
print('+'*10)

HelloHelloHelloHelloHelloHelloHelloHelloHelloHello
++++++++++

In [34]:
name = input('enter a name: ')
print(f'Hello {name} ! how are you?')

enter a name: rani
Hello rani ! how are you?

In [35]:
num =int(input('Enter a number: '))
sum = num + 100
print("The sum is %d" %sum)

Enter a number: 5
The sum is 105

Integer = %d
Float = %f
string = %s
hexadecimal = %x
octa = %o

In [36]:
num= 10.68675
print("The value of num is %2.2f" %num)

The value of num is 10.69

In [37]:
print('The result value is', num*1.25)

The result value is 13.3584375

# String printing format -

C-style format string format


Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple"

.ipnyb  ===> ipynb means Interactive PYthon NoteBook - which is now known as Jupyter notebook.

In [45]:
def fahrenheit(T):
    return (float(9) / 5) * T + 32

def celsius(T):
    return float(5) / 9 * (T - 32)

temp = [0, 22.5, 40, 100]

# Convert temperatures from Celsius to Fahrenheit
fahrenheit_temperatures = [fahrenheit(T) for T in temp]

# Convert temperatures from Fahrenheit to Celsius
celsius_temperatures = [celsius(T) for T in fahrenheit_temperatures]

print("Celsius:", temp)
print("Fahrenheit:", fahrenheit_temperatures)
print("Celsius (converted back):", celsius_temperatures)

Celsius: [0, 22.5, 40, 100]
Fahrenheit: [32.0, 72.5, 104.0, 212.0]
Celsius (converted back): [0.0, 22.5, 40.0, 100.0]

In [46]:
#dct = {'Salary':[10,20,30], 'emp_num':[1,22,333]}

#use 'for' loop and if condition to print only 30

#dictionary using for loop

dct = {'Salary': [10, 20, 30], 'emp_num': [1, 22, 333]}

for i,j in dct.items():
    if i == 'Salary':
        print(j[2])

30

In [47]:
F_temps = list(map(fahrenheit, temp))

F_temps

[32.0, 72.5, 104.0, 212.0]

In [48]:
#convert back
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

%d ==> digit
%s ==> string
%f ==> float

In [50]:
# This prints out "Hello, John!"
name = "John"
print("'Hello, %s!" % name)

'Hello, John!

In [51]:
print("Hello " , name, "!")

Hello  John !

In [52]:
# This prints out "John is 23 years old."
name = "John"
age = 23
salary=6889.564
print("%s is %d years old taking salary %f " % (name, age, salary))
print("Salary = %0.2f " %(salary))

John is 23 years old taking salary 6889.564000
Salary = 6889.56

In [53]:
fruit1 ="apples"
fruit2 ="mango"
fruit3 ="grapes"
print("I like to eat %s, %s and %s" %(fruit1, fruit2, fruit3))

I like to eat apples, mango and grapes

In [54]:
country = "India"
city = "Delhi"
population = 5000004
salary = 400000
print("%s is the capital of %s has %d population havving average salary of %d" %(city, country, population, salary))

Delhi is the capital of India has 5000004 population havving average salary of 400000

In [55]:
country = "India"
city = "Delhi"
population = 5000004
salary = 354555.4567
print("%s is the capital of %s has %d population havving average salary of %0.2f" %(city, country, population, salary))

Delhi is the capital of India has 5000004 population havving average salary of 354555.46

#### String format functions

In [56]:
print("People generally take {} with {}".format('Coke', 'Pizza'))

People generally take Coke with Pizza

In [57]:
print("People generally take {0} with {1}".format('Coke', 'Pizza'))

People generally take Coke with Pizza

In [58]:
print("People generally take {1} with {0}".format('Coke', 'Pizza'))

People generally take Pizza with Coke

In [59]:
name = 'john'
age = 24
print("his name is {} he is {} years old".format(name, age))

his name is john he is 24 years old

# FUNCTIONS

Function is a group of related statements that performs a special task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

In [ ]:
help(), print(), int(), float(), str(), type(), range() , min() , max(), len(), input(), list()

In [ ]:
help()

In [63]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [62]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [61]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

#### Functions are three types.

1. Pre defined functions(built-in function):- print(), len(), range(), help(), range(), etc.
    
2. User defined functions:- programmer (or) we can define the function: we have to follow certain rules to define a function

Example: two step need to be follow:

Step1: define a function / function definition

def function-name():
  statement1
  statement2
  statement3
   
Step2: calling a function

function-name()
    
3. Anonymous/Lambda functions:-

###### Parametric Function

In [64]:
def addition_func(a,b): # a, b are know as parameters or arguments.
    c = a + b
    print("c =", c)
addition_func(90, 6)

c = 96

# Variables

Variables are containers for storing data values.

# Creating Variables

Python has no command for declaring a variable.

A variable is created the moment we first assign a value to it.

Note: Variables do not need to be declared with any particular type, and can even change type after they have been set.Local variables in python are those variables that are declared inside the function. Alternatively, they are said to defined within a local scope. A user can only access a local variable inside the function but never outside it.

There are two types of variables:
    
    1. Local variable
    
    2. Global variable
    
 1. Local variable: Local variables in python are those variables that are declared inside the function. A user can only access a local variable inside the function but never outside it. Life span of local variable is within the function.
 
 2. Global Variable: Variables that are created outside of a function are known as global variables. Global variables can be used by everyone, both inside of functions and outside. Life span of global variable is within the jupyter notebook.
 
 
Note: Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [65]:
#global variable
x = 10
x

10

In [66]:
def func():
    print(x)   #Here we called the x which is defined outside of the function.
    p= 200   #Local variable
    print(p)
func()

10
200

In [67]:
p #we cannnot access p outside the function as p is defined inside of the function.

NameError: name 'p' is not defined

In [68]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [69]:
#use the global keyword if you want to change a global variable inside a function.

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Return Keyword


The Python return statement is a special statement that we can use inside a function or method to send the function's result back to the caller. 

A return statement consists of the return keyword followed by an optional return value.

The return value of a Python function can be any Python object.

In [70]:
def return_42():
    return 42
return_42()

42

In [71]:
def get_even(numbers):
    even_nums = [num for num in numbers if not num % 2]
    return even_nums
    
get_even([1, 2, 3, 4, 5, 6])

[2, 4, 6]

In [72]:
def addfunc():
    a=10
    b=5
    c=a+b
    return c # Here return is a keyword which will be returning the calculated value 15 outside the world of function and 
#holding the that value in another variable.

In [73]:
ret_val=addfunc()
ret_val # The benefit of returning vale outside of functionis, we could perform other activity with that return value.

15

In [74]:
m = ret_val**2
m # with print() is not possible. print() only print thr final result.

225

In [75]:
def addfunc():
    a=10
    b=5
    c=a+b
    return # here return is not returning any value or we can say that it is returning null value.
    print("c=", c) # return keyword is not reaching to print line befire that retrning.
addfunc()

Note: retuen statement returns the value from the functions.

==> Local variables are begin imported by into a global variable with the help of return.

# How to call one function to another function?

In [76]:
def inner_function():
    p=5
    print(p**2)
    print('inner function called')

In [77]:
def outer_function():
    inner_function()
    print('outer function')

In [78]:
outer_function()

25
inner function called
outer function

In [79]:
def testf():
    m= int(input("enter any number: "))
    print("addition=", m+2)  
    return m      #inner function

In [80]:
def outer_func():
    k = testf()
    print(k**2)  # outer function

In [81]:
outer_func() # Two function can call each other

enter any number: 1
addition= 3
1

# 3. Anonymous/Lambda functions:-

A lambda function is a small function containing a single expression.
Lambda function can also act as anonymous functions where they don't require any name.
There are very helpful when we have to perform small tasks with less code.

the expression composed of:
    The keyword: lambda
    A bound variable:x
    A body : x*2    

Syntax:
    
    reference_variable = lambda variable: expression
    
    ex:
        
        test1 : lambda x: x+1

In [82]:
test1 = lambda x: x +1

test1(4)

5

In [83]:
mult = lambda k, t : k*t

mult(8, 9)

72

In [84]:
addset = lambda x,y,z : x+y+z

addset(10,20,30)

60

In [85]:
squareroot = lambda x : x**(1/2)

squareroot(4)

2.0

In [86]:
area = lambda pi, radius : pi*(radius**2)
area(3.14, 7)

153.86

In [87]:
area = lambda radius : 3.14*(radius**2)
area(17)

907.46

In [89]:
def testf():
    x=int(input('Enter x = '))
    y=int(input('Enter y = '))
    z=int(input('Enter z = '))
    s=lambda x,y,z:(x+y)*z
    print(s(x,y,z))
testf()

Enter x = 2
Enter y = 4
Enter z = 6
36

# Map

map() is useful when we need to apply a transformation function to each item in an iterable and transform them into a new iterable. map() is one of the tools that support a functional programming style in Python.

whenever we have ample of data or list of element and want to put the same operation on each element. so will can use map.

list(map(expersion, list)

In [90]:
list1 = [10, 20, 30]

testlambda = list(map(lambda a:a+2, list1))
testlambda

[12, 22, 32]

In [91]:
test_list = [4, 5, 6, 3, 9]
K = 4
res = [x + K for x in test_list]
print(res)

[8, 9, 10, 7, 13]

In [92]:
list4=[5.6, 10.4, 12.4, 4.5, 6.8]

data= list(map(lambda r : 3.14*(r**2), list4))

data

[98.4704, 339.6224, 482.80640000000005, 63.585, 145.1936]

In [93]:
result = [round(i, 2) for i in data]
result

[98.47, 339.62, 482.81, 63.59, 145.19]

# Filter in lambda

The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.

In [94]:
list5 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

d=list(filter(lambda x: x>5 , list5))
d

[6, 7, 8, 9]

In [95]:
list(filter(lambda x: x%2!=0, list5))

[1, 3, 5, 7, 9]

# OOPS : Object Oriented programmings

In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a single unit so that no other part of the code can access this data.

Main Concepts of Object-Oriented Programming (OOPs:

Class
Objects
Polymorphism
Encapsulation
Inheritance
Data Abstraction
                                           
Link oops : https://www.geeksforgeeks.org/python-oops-concepts/

# Class in Python


The basic idea behind an object-oriented programming (OOP) is to combine both data and associated procedures (known as methods) into a single unit which operate on the data. such a unit is called as object.

Python is a object oriented programming language, everything in python is an object.


A class is a collection of objects. A class contains the blueprints or the prototype from which the objects are being created. It is a logical entity that contains some attributes and methods.

# Example
class calculator: # 
    {
    add()    #function, method, member of class
    ..........................
    ..a and b are variable here..#data memeber in terms of class its called.
    sub()   # member function
    ........
    ........  
    div()
    ........
    ........ 
    }
    
==> in 1980 oops concepts has introduced in c++.
==> class provides modularity
==> class provides security or Encapsulation.

# Once we create a class: 

whenever we need to access the class then we need to call the class with help of object or instance of the class. Object and instance, we can refer as alias name of the class for calling them.

==> For the above example creating a object to class functions:

syntax for creating class object:

         object = class_name

calc = calculator  #calc- nikename or instance or object and calculator - class_name


To call functions from class or member of class, we can follow below structure or protocal:

            calc.add()

Class is a architecture of the object. A user-defined prototype for an object that defines a set of attributes which characterize any object of the class.

The atributes are data members (class variables and instance variables) and methods, accessed via dot notation.

Classes provide a means of bulding data nad functionalitz together.

Creating a new class creates a new type of object, allowing new instances of that type to be made.

Data member - A class variable or instance variable that holds data associated with a class and its objects.

Function - Function is code that specify some task.

Instance - An individual object of a certain class . An object obj that belongs to a class Circle, for example, is an instance of the class Circle.

Constructor is special method. We can think of as a function which intializes or activates the attributes or properties of the class for a object. Use keyword __int__ to create a method for constructor.


objcircle =Circle()

##### Some points on Python class:  

==> Classes are created by keyword class.
==> Attributes are the variables that belong to a class.
==> Attributes are always public and can be accessed using the dot (.) operator. 

Eg.: Myclass.Myattribute

# Class Definition Syntax:
class ClassName:
   # Statement-1
   .
   .
   .
   # Statement-N

In [97]:
class Dog:
    pass

# Objects

The object is an entity that has a state and behavior associated with it. 
It may be any real-world object like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and dictionaries, are all objects. More specifically, any single integer or any single string is an object. The number 12 is an object, the string “Hello, world” is an object, a list is an object that can hold other objects, and so on. You’ve been using objects all along and may not even realize it.

An object consists of :

State: It is represented by the attributes of an object. It also reflects the properties of an object.

Behavior: It is represented by the methods of an object. It also reflects the response of an object to other objects.

Identity: It gives a unique name to an object and enables one object to interact with other objects.

To understand the state, behavior, and identity let us take the example of the class dog (explained above). 

The identity can be considered as the name of the dog.
State or Attributes can be considered as the breed, age, or color of the dog.
The behavior can be considered as to whether the dog is eating or sleeping.

In [98]:
obj = Dog() #This will create an object named obj of the class Dog defined above.

# Let us understand some basic keywords that will we used while working with objects and classes.

Eaxample: 

class Person:

def__(self, pid, name, age)    #__ indicates:(we need to create constructor here)
        
p1 = Person() (obj has been created)

Class is the simulation of the object provided here.

 Whenever we are intializing the class (p1 = Person()), p1 is holding the black value of pid, name age.
 Here p1 (object)  occupy the memory inside the RAM while intialization with zero value, zero means nothing Because till now we have  not pass the value for pid, name and age.
 
 We want to fill data at time of creation of object in the memory of RAM as if we are not filling then it will be not created or filled with junk value. 
 
 If we are not passing any value while creation of object then it will be filled with junk value (junk value means any value).
 
 To fill the right value while creation object need to write one constructor. constructor means constructing class with some value. It has to be initialization. Initializations means that we want to initialize p1 object inside memory with some values. So at time of creation of object, we have pass the few values. those values supppose.
 
 p1=Person(100, 'David,35)
 
 These valuse moved inside the constructor inside class so that these value could be filled inside this person() p1 object.
 
 When this initialzing constructor is going to be called then these values- Person(100, 'David,35) are going to filled automatically.
 
 Whenever we are running the class or calling the class with the help of object  
 
Constructor : conscutor is a automatically initializer which are going to provide values to the variable and data member.

once values are initialized while creation of object then it will directly filled in memory.

In [99]:
class Student:
    #initialization constructor
    def __init__(self,sid,name,age): #memeber function, sid,name,age--these are data member or member variable 
        self.sid=sid
        self.name=name
        self.age=age
    def display(self):           #memeber function
        print("Student ID =",self.sid, "Name =",self.name, "Age =", self.age)
        
#making object/instace ---object/instace are prototype of student class        
        
s1=Student(100,'David',14)
s1.display() 
s2=Student(100,'David',15)
s2.display()

Student ID = 100 Name = David Age = 14
Student ID = 100 Name = David Age = 15

In [100]:
s1.name

'David'

In [101]:
s2.age

15

__init__ this is initialization constructor . It means whenever we are going to make object of student, the initialization constructor would be invoked automatically or implicitly at the time of creating instance s1. 

whenever this command (s1=Student(100,'David',14)) executed. this is backgroud operation description:

then this initialization constructor is automatically called and it will create the space in memory and s1 will be location to the memory. As soon as memory location is occupied for s1 the it will automatically invoke the initialize constructor then it will understand inside the class student--- there are three variables(sid,name,age) and it also checks whether these variable have some value.

Self = instance name or object name. self is instance name.

When it called automatically by s1 then self become s1. hence, values will passed automatically.

In [102]:
class Employee:
    #initialization constructor
    def __init__(self, eid, ename, salary):
        self.eid = eid
        self.ename = ename
        self.salary = salary
        
    def display(self):
        print("Employee ID = ", self.eid, "Emp name = ", self.ename, "salary = ", self.salary)
    
    def getdata(self, eid, ename, salary):
        self.eid = eid
        self.ename = ename
        self.salary = salary
        
        
        
#object name
e1 = Employee(1, 'John', 64432)
e1.display()
        
e1.getdata(1, 'Jack', 566676)  #after using the getdata the freseh data e1 are below details.     
e1.display()

Employee ID =  1 Emp name =  John salary =  64432
Employee ID =  1 Emp name =  Jack salary =  566676

In [103]:
class person:
    #initialization constructor
    def __init__(self, eid, ename, salary):
        self.eid = eid   # instance variable means there are associated instance or object
        self.ename = ename   # instance variable means there are associated instance or object
        self.salary = salary  # instance variable means there are associated instance or object
        
    def display(self):
        print("Employee ID = ", self.eid, "Emp name = ", self.ename, "salary = ", self.salary)
    
eid = input(" Enter eid ")  
ename = input(" Enter name ")          
salary = input(" Enter salay ")          
#object name
e1 = person(eid, ename, salary)
e1.display()

 Enter eid 124
 Enter name Rqm
 Enter salay 135678
Employee ID =  124 Emp name =  Rqm salary =  135678

#### Note : In class, there are two types of variables---1. class variable and 2. Instance variable in oops concept.

In [106]:
class Person:
    
    company = "Google"  # class variable --- there are not associated with any instance.
    
    #initialization constructor
    def __init__(self, eid, ename, salary):
        self.eid = eid   # instance variable means there are associated instance or object
        self.ename = ename   # instance variable means there are associated instance or object
        self.salary = salary  # instance variable means there are associated instance or object
        
    def display(self):
        print("Person ID = ", self.eid, "Person name = ", self.ename, "Person salary = ", self.salary, "Company Name =", self.company)

In [107]:
p1 = Person(input("Enter eid "), input("Enter ename "), input("Enter salary "))

p1.display()

Enter eid 123
Enter ename Rani
Enter salary 100000000000000
Person ID =  123 Person name =  Rani Person salary =  100000000000000 Company Name = Google

In [108]:
Person.company  # class variable can be called directly. or, they are indepent from any instance.

# Only class variable can be access through class name directly. 
#class variable can be called through the class or with the instance

'Google'

In [109]:
p1.company

'Google'

In [110]:
class Employee:
    #initialization constructor
    def __init__(self, eid, ename, salary):
        self.eid = eid
        self.ename = ename
        self.salary = salary
        
    def display(self):
        print("Employee ID = ", self.eid, "Emp name = ", self.ename, "salary = ", self.salary)
    
    def getdata(self, eid, ename, salary):
        self.eid = eid
        self.ename = ename
        self.salary = salary

In [111]:
def main(): #these format was using earlier verson for execution. but this is not require in jupyter and anaconda
    
    e1 = Employee(1, 'John', 64432)
    e1.display()
        
    e1.getdata(1, 'Jack', 566676)  #after using the getdata the freseh data e1 are below details.     
    e1.display()

In [112]:
if __name__=="__main__": # predefind things # this is entry point for execution of any class. it was used in pycharm
    main()  
    
    # jupyter netbook and anaconda are created for data science and machine learning

Employee ID =  1 Emp name =  John salary =  64432
Employee ID =  1 Emp name =  Jack salary =  566676

In [113]:
import sys

sys.path

['C:\\Users\\Asus',
 'C:\\Users\\Asus\\anaconda3\\python311.zip',
 'C:\\Users\\Asus\\anaconda3\\DLLs',
 'C:\\Users\\Asus\\anaconda3\\Lib',
 'C:\\Users\\Asus\\anaconda3',
 '',
 'C:\\Users\\Asus\\AppData\\Roaming\\Python\\Python311\\site-packages',
 'C:\\Users\\Asus\\AppData\\Roaming\\Python\\Python311\\site-packages\\win32',
 'C:\\Users\\Asus\\AppData\\Roaming\\Python\\Python311\\site-packages\\win32\\lib',
 'C:\\Users\\Asus\\AppData\\Roaming\\Python\\Python311\\site-packages\\Pythonwin',
 'C:\\Users\\Asus\\anaconda3\\Lib\\site-packages',
 'C:\\Users\\Asus\\anaconda3\\Lib\\site-packages\\win32',
 'C:\\Users\\Asus\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'C:\\Users\\Asus\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [114]:
import os

os.getcwd() # current working directly, where jupyter note book is working

'C:\\Users\\Asus'

In [115]:
os.listdir()

['.anaconda',
 '.anaconda_backup',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.spyder-py3',
 '.vscode',
 '.wdm',
 'Abalone.csv',
 'agedata.csv',
 'age_salary.csv',
 'anaconda3',
 'Anwendungsdaten',
 'AppData',
 'Assignment_Beautiful_Soup.ipynb',
 'Assignment_Regular_Expression_Regex.ipynb',
 'avocado.csv',
 'avocado.jpg',
 'Avocado_1.csv',
 'Avocado_1.pkl',
 'Avocado_2.csv',
 'Avocado_2.pkl',
 'Avocado_Project.ipynb',
 'BANK MARKETING.ipynb',
 'Baseball Case Study.ipynb',
 'baseball.png',
 'best_model',
 'Black Friday Case  Study _ pandas.ipynb',
 'brain_size.csv',
 'cancerfile.csv',
 'cancerMinMaxsc.csv',
 'cancerstandard.csv',
 'Chat _GPT_Search.ipynb',
 'CloudyML_Machine_Learning.ipynb',
 'ConcreteData.csv',
 'Contacts',
 'Cookies',
 'DATA TRAINED-PYTHON.ipynb',
 'data.csv',
 'data.txt',
 'data_1.csv',
 'Data_Cleaning_Notes.ipynb',
 'Data_Visualization.ipynb',
 'demofile.txt',
 'Desktop',
 'diabetes.csv',
 'Documents',
 'Downloads',
 'Druckumgebung',
 'dtcfile.obj',
 'dtrmodel.obj',
 'Eigene Dateien',
 'emp1.csv',
 'emp1test.html',
 'empl.csv',
 'emptest.csv',
 'Exploratory Data Analysis---EDA.ipynb',
 'Exploratory_Data_Analysis_Notes.ipynb',
 'Favorites',
 'Filip Robo',
 'First_Phase_Medical Cost Personal Insurance Project.ipynb',
 'First_Phase_Red _Wine_Quality_prediction.ipynb',
 'flower.obj',
 'geckodriver.log',
 'Glass.ipynb',
 'hospital.jpg',
 'house_pred_submission.csv',
 'house_price_data_median.csv',
 'HR Analytics Project- Understanding the Attrition in HR_1.ipynb',
 'hrdata.csv',
 'hrdata_modified.csv',
 'HR_attrition_rate.csv',
 'img.jpg',
 'img0.jpg',
 'img01.jpg',
 'img02.jpg',
 'img2.jpg',
 'img3.jpg',
 'img4.jpg',
 'img7.jpg',
 'img8.jpg',
 'img9.jpg',
 'img_03.jpg',
 'img_04.jpg',
 'img_05.jpg',
 'img_06.jpg',
 'img_07.jpg',
 'img_08.jpg',
 'img_1.jpg',
 'img_10.jpg',
 'img_11.jpg',
 'img_2.jpg',
 'img_3.jpg',
 'img_4.jpg',
 'img_5.jpg',
 'img_6.jpg',
 'IntelGraphicsProfiles',
 'Intern_Regex_regular_expression.ipynb',
 'Intern_Web_Scraping.ipynb',
 'iris.csv',
 'join.png',
 'Krish Naik.ipynb',
 'Links',
 'lin_reg.obj',
 'LnearReg.pkl',
 'Lokale Einstellungen',
 'Machine Learning.ipynb',
 'Mall_customers.csv',
 'medical_cost_insurance.csv',
 'Music',
 'mydatabase.db',
 'My_score.csv',
 'Netzwerkumgebung',
 'ntuser.dat',
 'ntuser.dat.log1',
 'ntuser.dat.log2',
 'ntuser.dat{6b02926a-0942-11ee-826d-1413333b553e}.TM.blf',
 'ntuser.dat{6b02926a-0942-11ee-826d-1413333b553e}.TMContainer00000000000000000001.regtrans-ms',
 'ntuser.dat{6b02926a-0942-11ee-826d-1413333b553e}.TMContainer00000000000000000002.regtrans-ms',
 'NTUSER.DAT{b1b6a1b4-7637-11ed-824e-aec8471dabd1}.TM.blf',
 'NTUSER.DAT{b1b6a1b4-7637-11ed-824e-aec8471dabd1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{b1b6a1b4-7637-11ed-824e-aec8471dabd1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'NumPy.ipynb',
 'Object oriented Program.ipynb',
 'OneDrive',
 'Pandas Visualization.ipynb',
 'Pandas---Python.ipynb',
 'Phone_details.csv',
 'pickledtcfile.pkl',
 'Pictures',
 'pima_indian_diabetes.csv',
 'Practice___CloudyML.ipynb',
 'prediction_dtc.csv',
 'president_heights.csv',
 'Product_details.csv',
 'Project_7_Baseball.csv',
 'Project_7_Baseball.pkl',
 'Project_8_Avocado_1.csv',
 'Project_8_Avocado_1.pkl',
 'Project_Discussion.ipynb',
 'PYTHON NOTES.ipynb',
 'Python RegEx.ipynb',
 'python_question_ans.ipynb',
 'RandomForestClassifier_GlassDetection.pkl',
 'Recent',
 'Red_Wine_Quality_Prediction.pkl',
 'RFClassifier.pkl',
 'rfc_hr_file.obj',
 'RndmFstClassifier_Glass_Detection.pkl',
 'role_website.csv',
 'salarydata-Excel.xlsx',
 'sample_data.csv',
 'sample_text.txt',
 'Saved Games',
 'scaler.pkl',
 'scikit_learn_data',
 'Scores_file.csv',
 'seaborn-data',
 'Searches',
 'Selenium Exception handling notes_assignments.ipynb',
 'SendTo',
 'smartphones_data.csv',
 'sonar.csv',
 'SQL_Data_Trained.ipynb',
 'Startmenü',
 'STATISTICS.ipynb',
 'Student grades prediction.ipynb',
 'Student_Feb_database.db',
 'student_mark.csv',
 'Student_marks.csv',
 'Student_marks_database.db',
 'survey_results_public.csv',
 'survey_results_schema.csv',
 'svcfile.obj',
 'svc_prediction.csv',
 'Tebleau_Notes.ipynb',
 'Telecom_customer_Churn_Analysis.pkl',
 'test.csv',
 'Titanic survived Project.ipynb',
 'titanictrain.csv',
 'Tracing',
 'train.csv',
 'Untitled Folder 1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'untitled1.txt',
 'Untitled2.ipynb',
 'untitled2.txt',
 'Untitled3.ipynb',
 'untitled3.txt',
 'Untitled4.ipynb',
 'untitled4.txt',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Videos',
 'Vorlagen',
 'WA_Fn-UseC_-HR-Employee-Attrition.csv',
 'Web_Scraping_Assignment_ Completed.ipynb',
 'Web_Scrapping_3_Assignment_Completed.ipynb',
 'Web_Scrapping_4_Assignment_Completed.ipynb',
 'winequality-red.csv',
 'World_Happiness_Report_Project.ipynb']

In [116]:
import math
#x= math.pi
y= round(math.pi, 2)
y

3.14

In [117]:
#math.pow(base, power)
math.pow(2,4)

16.0

In [118]:
import math as m

m.pi

3.141592653589793

In [119]:
import math as mt

round(mt.pi,2)

3.14

In [120]:
from math import pi # just called pi from math module

pi

3.141592653589793

In [121]:
import math
math.__dict__.keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log1p', 'log10', 'log2', 'modf', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc', 'prod', 'perm', 'comb', 'nextafter', 'ulp', 'pi', 'e', 'tau', 'inf', 'nan'])

# 2Get Current Date and Time

In [122]:
import datetime

dt=datetime.datetime.now()
dt

datetime.datetime(2023, 11, 4, 15, 28, 4, 35126)

In [123]:
d1 =datetime.date.today()
d1

datetime.date(2023, 11, 4)

Commonly used classes in the datetime module are:
    date class--today()
    time class
    datetime class---now()
    timedelta class

In [124]:
from datetime import date
date(2022, 10, 9)

datetime.date(2022, 10, 9)

In [125]:
from datetime import date
d = date.today()
d

datetime.date(2023, 11, 4)

In [126]:
print("Year =", d.year)
print("Month =", d.month)
print("Day=", d.day)

Year = 2023
Month = 11
Day= 4

In [127]:
from datetime import time
a=time()
print(a)

#time(hour, mintue, second)
b = time(12, 43, 56)

b

00:00:00

datetime.time(12, 43, 56)

In [128]:
print("hour :", b.hour)
print("Minute :", b.minute)
print("Second :", b.second)

hour : 12
Minute : 43
Second : 56

In [129]:
import time
time.localtime()

time.struct_time(tm_year=2023, tm_mon=11, tm_mday=4, tm_hour=15, tm_min=28, tm_sec=7, tm_wday=5, tm_yday=308, tm_isdst=0)

Pip ---- Python package Manager--This command when need to install pip based library

The best way to manage Python's packages/modules is with pip.

! pip install Textblöb

#  FlLE INPUT / OUTPUT OPERATIONS

f = open("E:/Python/file1.txt","w")

f = open("E:/Python/file1.txt","r")

In [130]:
# savefile = open('c://User//Asus//demofile.txt','w')

In [131]:
dd=open('E:\\Python\\demo21_jan.txt', 'w')

In [132]:
dd.write("we are enjoing python commands.")

dd.close()

In [133]:
readfile = open ('E:\\Python\\demo21_jan.txt', 'r')

print(readfile.read())

readfile.close()

we are enjoing python commands.

In [134]:
appfile = open('E:\\Python\\demo21_jan.txt', 'a')

appfile.write("\n Republic day is coming this week. In Jan Avtar movie is released in Hollywood.")

appfile.close()

# Exception

In [136]:
a = int(input("Enter a number "))
b = int(input("Enter a number "))
def func(a,b):
    c = a/b
    print(c)
func(a,b)

Enter a number 1
Enter a number 2
0.5

Here, it is run time exception. It is not a error or syntax error.

In [138]:
func(4,2) # here code is running fine. Hence above error know as run time exception.

2.0

# What is Exception?

An exception is an event, which occurs during the execution of a program that disrupts the normarl flow of the program's instruction. In general, a python scrpts encounters a situation that it cannot cope with, it raises an exception. An exception is a python object that repersents an error.

# Exception Name and description

1. Exception
Base class for all exception.

2. StopIteration
Raised when the next() method of an iterator does not point to any object.

3. SystemExit
Raised by the sys.exit() function.

4. StandardError
Base class for all built-in exceptions except StopIteration and SystemExit.

5. ArthimeticError
Base class for all errors that occur for the numeric calculation.

6. OverFlowError
Raised when a calculation exceeds maximum limit for a numeric type.

7. FloatingPointError
Raised when a floating point calculation fails.

8. ZeroDivisionError
Raised when division or module by zero takes place for all numeric type.

9. AssertionError
Raised in case of failure of the Assert statement.

10. AttributeError
Raised in case of failure of attribute assignment or reference.

11. EOFError
Raised when there is no input() from either the raw_input() or input() function and end of the file is reached.

12. ImportError

Raised when an import statement fails.

13. KeyboardInterrupt

Raised when the user inrrupts program execution, usually by pressing Ctrl+c.

14. Lookup error
Base class for all lookup errors.

15. InderError
Raised when an index is not found in a sequence.

16. KeyError
Raised when the specified key is not found in the dictionary.

17. NameError
Raised when an identifier is not found in the local and global namespace.

18. UnboundLocalError
Raised when trying to access a local variable in a function or method but no value has been assigned to it.

19.EnvironmentError
BAse class for all exception that occurs outside the python Environment.

20. IOError
Raised when a input/output operation fails, such as the print statment or the open() function when trying to open a file that does not exist.

21. IOError
Raised for operating system-related errors

22. Syntax error
Raised when there is an error with python syntax.

23. Indentation Error
Raised when indentation is not specified properly.

24. SystemError
Raised when the interpreter finds an internal problem, but when this error is encountered the python interpreter does not exit.

25. SystemExit
Raised when python interpreter is quit by using the sys.exit() function. If not handled in the code, causes the interpreter to exit.

26. TypeError
Raised when an operation or function is attempted that is invalid for the specified data type.

27. ValueError
Raised when the built-in function for a data type has the valid type of arguments, but the arguments have invalid values specified.

28. RuntimeError
Raised when a generated error does not fall into any category.

29. NotimpliementedError
Raised when a abstract method that needs to be implemented in an inherited class is not actually implemented.


==> when a python script raises an exception, it must be handle the exception immediately otherwise its terminates or quits.

# Exceptions

An exception can be defined as an unusual condition in a program resulting in the interruption in the flow of the program.

Whenever an exception occurs, the program stops the execution, and thus the further code is not executed. Therefore, an exception is the run-time errors that are unable to handle to Python script. An exception is a Python object that represents an error

Python provides a way to handle the exception so that the code can be executed without any interruption. If we do not handle the exception, the interpreter doesn't execute all the code that exists after the exception.

Few errors are as below:

ZeroDivisionError: Occurs when a number is divided by zero.

NameError: It occurs when a name is not found. It may be local or global.

IndentationError: If incorrect indentation is given. A I0Error: It occurs when Input Output operation fails.

In [139]:
10/0

ZeroDivisionError: division by zero

In [140]:
8+number*2

NameError: name 'number' is not defined

In [141]:
'9'+9

TypeError: can only concatenate str (not "int") to str

# Handling Exceptions

The try statement works as follows.

First, the try clause (the statements) between the try and except keywords) is executed.

If no exception occurs, the except clause is skipped and execution of the try statement is finished.

If an exception occurs during execution of the try clause, the rest of the clause is skipped.

Then if its type matches the exception named after the except keyword, the except clause is executed, and then execution continues after the try statement.

In [142]:
try: 
    79/0
except ZeroDivisionError as err:
    print('Handling run time error:', err)

Handling run time error: division by zero

In [143]:
try: 
    8+m*2
except NameError as err:
    print('Handling run time error:', err)

TypeError: unsupported operand type(s) for *: 'module' and 'int'

In [144]:
try:
    i =int(input("value "))
    p=50/i
except ZeroDivisionError:
    print('Zero Division Error')
except NameError: 
    print('check name of variable: Name error')
except IndentationError: 
    print('Check Indentation')
else:
    print(p) # here it is not closing program abruptlyand Zero division error got handle here.

value 4
12.5

In [145]:
try:
    i =int(input("value "))
    p=50/i
except ZeroDivisionError:
    print('Zero Division Error')
except NameError: 
    print('check name of variable: Name error')
except IndentationError: 
    print('Check Indentation')

else:
    print(p)

value 4
12.5

In [146]:
a = [10, 20, 30]
try:
    print(a[0])
    print(a[1])
    print(a[2])
    
except:
    print("out of range")
else:
    print("Hello")
    
finally:
    print("end of the program") # finally will be exceted everytime.

10
20
30
Hello
end of the program

In [147]:
a = [10, 20, 30]
try:
    print(a[0])
    print(a[1])
    print(a[5])
    
except:
    print("out of range")
else:
    print("Hello")
    
finally:
    print("end of the program")

10
20
out of range
end of the program

In [148]:
#this will throe an exception if the file doesn#t exist.

try:
    filrpts = open('demofile.txt','r')
except IOError:
    print("File not found")
else:
    print("the file opened successfullly")
    print(filrpts.read())
    filrpts.close()

the file opened successfullly
this is the first line .I am testing this file.
 This is the next line

In [149]:
try:
    appendfile = open('demofile.txt','a')
except IOError:
    print("File not found")
else:
    print("The file opened successfullly")
    print(appendfile.write("\n This is the next line"))

The file opened successfullly
23

# Pickle in Python: Object Seriallization: (Pickle Library)

(Pickle Library)

Pickle library have two methods : 

1. dump---- for Serialization

2. Load-----for de-serialization

In [150]:
import pickle

flower_dict = {1: 'Rose', 2:'Lilly', 3:'Lotus', 4:'Tulip'}

##### filename ='flower'
outfile = open(filename,'wb') # format to open a file

In [151]:
#filename = 'flower'

outfile = open('flower.obj','wb')

In [152]:
#Picking the file 
#dump method serialize

pickle.dump(flower_dict,outfile)

outfile.close()

##### unpickle the file

infile = open(filename, 'rb')

In [153]:
#unpickle the file
infile = open('flower.obj','rb')

###### “Pickling” is the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy.

In [154]:
#de-serialize
#load method
new_dict = pickle.load(infile)

In [155]:
infile.close()

In [156]:
print(new_dict)

{1: 'Rose', 2: 'Lilly', 3: 'Lotus', 4: 'Tulip'}

In [157]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

data=pd.read_csv('sonar')